body {
    background-color: lightslategray;
}
#game-board__wrapper {
    display: flex;
    justify-content: center;
}
#game-board {
    background-color: aqua;
    display: flex;
    border-radius: 0.5vw;
}
.disabled {
    opacity: 20%;
}
.hidden {
    display: none;
}
.unselectable {
    user-select: none;
}
.game-board-cell {
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    margin: 1vw;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5vw;
    user-select: none;
}
#game-control-panel__gameStatus {
    display: flex;
    justify-content: center;
    margin: 1vw;
}
#game-control-panel__gameStatus-gameId {
    margin-left: 1vw;
    text-decoration: underline;
}
#game-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
#game-control-panel__join {
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 0.5em;
    margin: 1vw; 
    background-color: aqua;
}
#game-control-panel__subtitle {
    margin-top: 0.5em;
}
button {
    width: 10vw;
    cursor: pointer;
}
pre {
    margin:0;
    font-size: 2vh;
}
h3 {
    display: flex;
    justify-content: center;
}